extends layout

block content
  h1= title
  p Welcome to #{title}
  
  br 
  br
  
  form(id = 'form-data')
    label(for = 'input-file') Input File: 
    input(type = 'file' name = 'input-file')
    br
    input(type = 'submit' value = 'Submit')
      
  div(id = 'loading' class = 'hide')
    img(src = '/images/loading.gif' height = '100px')
  
  script(type='application/javascript' src='javascripts/app.js')
  
